 h1{
    text-align: center;
    color: rgb(12, 12, 12);


}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 200px;
    height: 180px;
    border: 2px solid rgb(235, 51, 27);
    border-radius: 5px;
    
}

p{
    text-align: center;
    color: rgb(12, 12, 12);
    font-size: 20px;
}

a:link, a:visited {
    color: rgb(12, 12, 12);
    text-decoration: none;
    font-size: 20px;
    display:inline-block;
    text-align: center;
    margin-top: 10px;
    padding: 10px 20px;
}

a:hover, a:active {
    color: rgb(235, 51, 27);
    
}